/Année bisextile.pc
/Année bisextile.py
/calculatrice faire tant que.pc
/calculatrice.pc
/calculatrice.py
/classement de note.pc
/classement de note.py
/conevrtisseur _sec.pc
/connexion.py
/convertisseur_sec.py
/Corrections
/Demos
/distributeur boucle.pc
/distributeur.pc
/distributeur.py
/ex4sup.py
/EXO12.pc
/EXO12.py
/exo27.pc
/exo27.py
/exo28.pc
/exo28.py
/exo29.py
/exo30.py
/exo32.py
/exo32.zip
/exo33.py
/exo34.py
/exo35.py
/exo36.py
/exopendu.py
/exposant 10.pc
/exposant 10.py
/exposant.pc
/ex_arithmétique.pc
/ex_arithmétique.py
/invers tab.pc
/invers tab.py
/lanceur de balla.py
/lanceur de balle boucle.py
/lanceur de balle.pc
/le juste prix.py
/le juste prix2.pc
/le juste prix2.py
/le juste prix3.pc
/le juste prix3.py
/le plus petit.py
/liste de 6 entier.pc
/liste de 6 entier.py
/nombre premier.py
/Recordings
/Ressources
/révsion si sinon.py
/scroe moyen.pc
/scroe moyen.py
/Supports
/table de 2.fprg
/table de 2.py
/table de mutiplication.py
/tableau de multiple 2.pc
/tableau de multiple de 2.py
/test.py
/triTab.pc
/étoile.py